main{
	max-width: 1200px;
  	display: grid;
	column-gap: 5.3rem;
	row-gap: 1rem;
  	grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
	margin: 1.938rem 7.125rem 0.063rem 9.375rem;
}
body{
	margin: 0px;
  background-color: #fcfcfc;
}
.newsItem{
	display: flex;
	justify-content:space-between;
	margin-bottom: 20px;
	width: 34.375rem;
	height: 5.625rem;
	font-size: 0.875rem;
	margin-right: -50px;
	border-radius: 6px;
	border: solid 1px #979797;
	background-color: #fff;
}

.newsItemIcon{
	width: 4.25rem;
  	height: 5.625rem;
	border-radius: 0px 6px 6px 0px;
  	display: flex;
  	justify-content: center;
  	align-items: center; 
  	background-color: #F5F5F5;
}
.newsItemText{
	columns: 1;
	padding: 10px;
	margin-left: 10px;
}
.heartIcon{
	color : #DD0031;
	object-fit: contain;
	font-size: 24px;
	cursor: pointer;
}
.newsItemAgo{
	display: flex;
	align-items: center;	
	margin-bottom: -20px;
	font-size: 0.688rem;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #767676;
	font-family: 'Roboto';
}
.newsItemAgo > p{
	margin-left: 10px;
}
.newsItemTitle{
	font-size: 0.875rem;
	font-weight: 500;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.43;
	letter-spacing: 0.25px;
	color: #828282;
	font-family: 'Roboto', sans-serif;
}
header{
	height: 3.125rem;
	margin: 0 0 2.375rem;
	padding: 1rem 67.625rem 2.625rem 9.375rem;
	box-shadow: 0 1px 4px 0 rgba(0, 21, 41, 0.12);
	background-image: linear-gradient(to bottom, #ececec -32%, #fff 124%);
}
header > h1{
	width: 13rem;
	height: 1.75rem;
	object-fit: contain;
	font-family: Baskerville;
	font-size: 1.75rem;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: 1;
	letter-spacing: normal;
	color: #3b3b3b;
}

.btnFilter.active{
	border: solid 1px #1797ff;
	color : #1797ff;
}
.btnFilter{
	width: 6.125rem;
	height: 1.938rem;
	padding: 0.188rem 1rem 0 1.063rem;
	border-radius: 2px 0 0 2px;
	border: solid 1px #d6d6d6;
	background-color: #fcfcfc;
	font-family: Roboto;
	font-size: .7rem;
	font-weight: 500;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.75;
	letter-spacing: normal;
	text-align: center;
	color: #606060;
}
.btnLeft{
	border-radius: 2px 0 0 2px;
}
.btnRight{
	border-radius: 0px 2px 2px 0px;
}
.btnForm{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 100px;
}
.dropNews{
	width: 15rem;
	margin: 1.938rem 7.125rem 0.063rem 8.675rem;
	padding: 0.313rem 0.75rem 0.313rem 0.75rem;	
}
.newsOption{
	display: flex;
	flex-direction: row;
	align-items: center;
}
.newsLogo{
	width: 25px;
	height: 20px;
	margin-right: 8px;
}
.selectedLogo{
	width: 35px;
	height: 20px;
	margin-right: 8px;
}
.loader {
	border: 16px solid #f3f3f3;
	border-top: 16px solid #828282; 
	border-radius: 50%;
	width: 120px;
	height: 120px;
	animation: spin 2s linear infinite;
	margin: 5.938rem 0rem 5.063rem 32rem;
}

@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}